# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("WeatherPY_vacation.csv")

# Display sample data
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Banda Aceh,ID,76.01,light rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
1,6,Inhambane,MZ,77.45,clear sky,-23.8650,35.3833,Oceano
2,10,Wajir,KE,79.47,few clouds,1.7471,40.0573,Mahatallah Hotel
3,18,Sharjah,AE,82.38,clear sky,25.3573,55.4033,Swiss Belhotel Sharjah
4,21,Vila Velha,BR,78.75,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace
...,...,...,...,...,...,...,...,...
162,558,Sao Felix Do Xingu,BR,84.31,light rain,-6.6447,-51.9950,Rio Xingu Camping
163,559,Puerto Armuelles,PA,78.78,light rain,8.2833,-82.8667,Big Daddy's Beach Club & Hotel
164,563,Tanhacu,BR,76.77,overcast clouds,-14.0214,-41.2481,BALNEÁRIO JUREMA
165,565,Muisne,EC,75.78,overcast clouds,0.6000,-80.0333,Quinta Samay
166,566,Calabozo,VE,82.98,overcast clouds,8.9242,-67.4293,Hotel Giardini

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
locations

         Lat      Lng
0     5.5577  95.3222
1   -23.8650  35.3833
2     1.7471  40.0573
3    25.3573  55.4033
4   -20.3297 -40.2925
..       ...      ...
162  -6.6447 -51.9950
163   8.2833 -82.8667
164 -14.0214 -41.2481
165   0.6000 -80.0333
166   8.9242 -67.4293

[167 rows x 2 columns]

In [7]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [8]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Canto Do Buriti"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Canto Do Buriti"]
vacation_stop1 =  vacation_df.loc[vacation_df["City"] == "Aracoiaba"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Tutoia"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Itarema"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [9]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_df.loc[vacation_start.index][["Lat","Lng"]].to_numpy()[0])
end = tuple(vacation_df.loc[vacation_end.index][["Lat","Lng"]].to_numpy()[0])
stop1 = tuple(vacation_df.loc[vacation_stop1.index][["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_df.loc[vacation_stop2.index][["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_df.loc[vacation_stop3.index][["Lat","Lng"]].to_numpy()[0])

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [10]:
# Define a new figure object
fig = gmaps.figure()
vac_stops = [stop1,stop2,stop3]
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=vac_stops,travel_mode="DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [11]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,436,Canto Do Buriti,BR,89.83,overcast clouds,-8.1100,-42.9444,Novo Hotel
1,485,Aracoiaba,BR,81.75,scattered clouds,-4.3711,-38.8142,Bar Redondo e Pousada
2,501,Tutoia,BR,79.66,broken clouds,-2.7619,-42.2744,Pousada Guará's
3,355,Itarema,BR,79.45,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [12]:
# Review the formatting template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
locations

      Lat      Lng
0 -8.1100 -42.9444
1 -4.3711 -38.8142
2 -2.7619 -42.2744
3 -2.9248 -39.9167

In [15]:
#to complete


#Define a new figure object
fig = gmaps.figure()


# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)



# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

AssertionError: